@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  label {
    @apply mb-1 text-labelText font-semibold;
  }
  select{
    @apply h-10 pl-2 border-[1px] rounded-md border-greyBorder bg-white;
  }
  input{
    @apply h-8 rounded-md;
  }
  textarea{
    @apply h-14 pl-2 border-[1px] rounded-md border-greyBorder;
  }
  option {
    @apply mb-1 text-labelText;
  }
}

